
{% extends 'Base.html' %}
{% load static %}
{% block title %}contact{% endblock title %}
      <!-- contact section start -->
      {% block banner_slider %}
      <div class="contact_section layout_padding margin_90">
         <div class="container">
            <h1 class="contact_taital">What we do</h1>
            <div class="news_section_2">
               <div class="row">
                  <div class="col-md-6">
                     <div class="icon_main">
                        <div class="icon_7"><img src="{% static 'images/icon-7.png' %}"></div>
                        <h4 class="diabetes_text">Diabetes and obesity Counselling </h4>
                     </div>
                     <div class="icon_main">
                        <div class="icon_7"><img src="{% static 'images/icon-5.png' %}"></div>
                        <h4 class="diabetes_text">Obstetrics and Gynsecology</h4>
                     </div>
                     <div class="icon_main">
                        <div class="icon_7"><img src="{% static 'images/icon-6.png' %}"></div>
                        <h4 class="diabetes_text">Surgical and medical Oncology</h4>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="contact_box">
                        <h1 class="book_text">contact us</h1>
                        <form action="" method="POST"> {% csrf_token %}
                        {{form.as_p}}
                        <input type="submit" value="Submit" class="btn btn-primary">
                     </form> 
                    
                  </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      {% endblock banner_slider %}
      <!-- contact section end -->
      <!-- footer section start -->
     